// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
nav {
	padding: 15px 80px;
	.navbar-brand {
		font-size: 25px;
	}
	b {
		font-family: 'Montserrat', sans-serif;
	}
}
