// Home page texts Animation
@keyframes fadeInUp {
	from {
		transform: translateY(60px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

// Navbar animation
@keyframes animNav {
	from {
		transform: translateY(-60px);
		opacity: 0.3;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

// Portfolio animations
@keyframes PortfolioAnimations {
	from {
		transform: translateY(90px);
		opacity: 0.3;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
