// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
$homeButtonColor: #2b2b2b;
$homeButtonColor2: #faff00;
$socialIcons: #faff00;

body {
	background-color: #000000 !important;
	overflow-x: hidden;
}
html {
	overflow-x: hidden;
}
// nav
nav {
	padding: 15px 80px;
	animation: animNav 1s ease;
	.navbar-brand {
		font-size: 25px;
		color: #ffffff !important;
		font-family: 'Montserrat', sans-serif;
	}
	b {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		color: rgb(0, 255, 242);
	}
	.navbar-nav {
		margin-left: auto;
		.nav-item {
			margin: 20px;
			font-size: 20px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 500;
			a {
				color: #949494 !important;
				text-decoration: none;
				transition: 0.2s ease;
				&:hover {
					color: #ffffff !important;
					text-decoration: none;
				}
			}
		}
	}
}
// nav-fixed
nav.fixed {
	padding: 15px 80px !important;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	backdrop-filter: blur(10px);
	background-color: #000000cf;
	box-shadow: 0 5 15 #0c0c0cde;
}
.avatar {
	border-radius: 50%;
}
.aboutinfo {
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	padding: 70px;
	.aboutinfo-1 {
		width: 55%;
		margin: 20px 0;
	}
	.title {
		font-size: 70px;
		font-family: 'Montserrant', sans-serif;
		color: #ffffff;
		font-weight: 700;
	}
	.description {
		width: 75%;
		margin: 15px 3px 60px;
		font-size: 20px;
	}
	.buttons {
		.linkBtn {
			background-color: $homeButtonColor;
			padding: 17px 40px;
			color: #ffffff;
			font-size: 20px;
			text-decoration: none;
			font-family: 'Montserrat', sans-serif;
			font-weight: 500px;
			&:nth-child(2) {
				margin-left: 20px;
				background-color: $homeButtonColor2;
				color: #000000;
			}
		}
	}
	.socialNet {
		margin-top: 50px;
		.socialLink {
			padding: 0 30px 0 0;
			.svgIcon {
				font-size: 35px;
				color: #ffffff;
				&:hover {
					color: $socialIcons;
				}
			}
		}
	}
}
