//  Home
$togglerMenu: #faff00;
@media (min-width: 320px) and (max-width: 330px) {
	nav {
		padding: 12px;
		.navbar-brand {
			font-size: 18px;
			padding: 0 10px;
		}
		.navbar-toggler {
			background-color: $togglerMenu;
			border-radius: 0;
			span {
				font-size: 15px;
			}
		}
		.navbar-nav {
			.nav-item {
				margin: 20px 0;
				font-size: 17px;
				text-align: center;
				line-height: 10px;
			}
		}
	}
	.aboutinfo {
		display: inline;
		padding: 0;
		.aboutinfo-2 {
			text-align: center;
			width: 100%;
			h2 {
				font-size: 27px !important;
			}
		}
		.avatar {
			width: 250px;
			height: 250px;
		}
	}
}
