//  Home page responsive
$togglerMenu: #faff00;
@media screen and (max-width: 1200px) {
	nav {
		padding: 12px;
		.navbar-brand {
			font-size: 20px;
			padding: 0 10px;
		}
		.navbar-toggler {
			background-color: $togglerMenu;
			border-radius: 0;
			span {
				font-size: 15px;
			}
		}
		.navbar-nav {
			.nav-item {
				margin: 20px 20px;
				font-size: 20px;
				text-align: center;
				line-height: 10px;
			}
		}
	}
	.aboutinfo {
		display: flex;
		padding: 75px 30px;
		.aboutinfo-1 {
			margin: 10px auto;
		}
		.aboutinfo-2 {
			width: 100%;
			h2 {
				font-size: 27px !important;
			}
			p {
				font-size: 15px !important;
				width: 100%;
				margin: 15px 0 25px;
			}
			.buttons {
				.linkBtn {
					padding: 10px 10px;
					font-size: 15px;
				}
			}
			.socialNet {
				margin-bottom: 80px;
				.socialLink {
					padding: 0 10px 0 10px;
				}
			}
		}
		.avatar {
			width: 250px;
			height: 250px;
		}
	}
	.footer {
		p {
			font-size: 15px;
		}
	}
}
@media screen and (max-width: 1024px) {
	nav {
		padding: 12px;
		.navbar-brand {
			font-size: 20px;
			padding: 0 10px;
		}
		.navbar-toggler {
			background-color: $togglerMenu;
			border-radius: 0;
			span {
				font-size: 15px;
			}
		}
		.navbar-nav {
			.nav-item {
				margin: 20px 20px;
				font-size: 20px;
				text-align: center;
				line-height: 10px;
			}
		}
	}
	.aboutinfo {
		display: flex;
		padding: 75px 30px;
		.aboutinfo-1 {
			margin: 10px auto;
		}
		.aboutinfo-2 {
			width: 100%;
			h2 {
				font-size: 27px !important;
			}
			p {
				font-size: 15px !important;
				width: 100%;
				margin: 15px 0 25px;
			}
			.buttons {
				.linkBtn {
					padding: 10px 10px;
					font-size: 15px;
				}
			}
			.socialNet {
				margin-bottom: 80px;
				.socialLink {
					padding: 0 10px 0 10px;
				}
			}
		}
		.avatar {
			width: 250px;
			height: 250px;
		}
	}
	.footer {
		p {
			font-size: 15px;
		}
	}
}
@media screen and (max-width: 767px) {
	nav {
		padding: 12px;
		.navbar-brand {
			font-size: 18px;
			padding: 0 10px;
		}
		.navbar-toggler {
			background-color: $togglerMenu;
			border-radius: 0;
			span {
				font-size: 15px;
			}
		}
		.navbar-nav {
			.nav-item {
				margin: 20px 0;
				font-size: 17px;
				text-align: center;
				line-height: 10px;
			}
		}
	}
	.aboutinfo {
		display: inline;
		padding: 0;
		.aboutinfo-1 {
			display: flex;
			justify-content: center;
			margin: 10px auto;
		}
		.aboutinfo-2 {
			text-align: center;
			width: 100%;
			h2 {
				font-size: 27px !important;
			}
			p {
				font-size: 18px !important;
				width: 100%;
				padding: 0 15px;
				margin: 15px 0 25px;
			}
			.buttons {
				.linkBtn {
					padding: 10px 10px;
					font-size: 15px;
				}
			}
			.socialNet {
				margin-bottom: 80px;
				.socialLink {
					padding: 0 10px 0 10px;
					svg {
						font-size: 20px;
					}
				}
			}
		}
		.avatar {
			width: 250px;
			height: 250px;
		}
	}
	.footer {
		p {
			font-size: 15px;
		}
	}
}
@media screen and (max-width: 370px) {
	nav {
		padding: 12px;
		.navbar-brand {
			font-size: 18px;
			padding: 0 10px;
		}
		.navbar-toggler {
			background-color: $togglerMenu;
			border-radius: 0;
			span {
				font-size: 15px;
			}
		}
		.navbar-nav {
			.nav-item {
				margin: 20px 0;
				font-size: 17px;
				text-align: center;
				line-height: 10px;
			}
		}
	}
	.aboutinfo {
		display: inline;
		padding: 0;
		.aboutinfo-1 {
			display: flex;
			justify-content: center;
			margin: 10px auto;
		}
		.aboutinfo-2 {
			text-align: center;
			width: 100%;
			h2 {
				font-size: 27px !important;
			}
			p {
				font-size: 15px !important;
				width: 100%;
				padding: 0 15px;
				margin: 15px 0 25px;
			}
			.buttons {
				.linkBtn {
					padding: 10px 10px;
					font-size: 15px;
				}
			}
			.socialNet {
				margin-bottom: 80px;
				.socialLink {
					padding: 0 10px 0 10px;
				}
			}
		}
		.avatar {
			width: 250px;
			height: 250px;
		}
	}
	.footer {
		p {
			font-size: 15px;
		}
	}
}
@media screen and (max-width: 370px) {
	nav {
		padding: 12px;
		.navbar-brand {
			font-size: 18px;
			padding: 0 10px;
		}
		.navbar-toggler {
			background-color: $togglerMenu;
			border-radius: 0;
			span {
				font-size: 15px;
			}
		}
		.navbar-nav {
			.nav-item {
				margin: 20px 0;
				font-size: 17px;
				text-align: center;
				line-height: 10px;
			}
		}
	}
	.aboutinfo {
		display: inline;
		padding: 0;
		.aboutinfo-1 {
			display: flex;
			justify-content: center;
			margin: 10px auto;
		}
		.aboutinfo-2 {
			text-align: center;
			width: 100%;
			h2 {
				font-size: 27px !important;
			}
			p {
				font-size: 15px !important;
				width: 100%;
				padding: 0 15px;
				margin: 15px 0 25px;
			}
			.buttons {
				.linkBtn {
					padding: 10px 10px;
					font-size: 15px;
				}
			}
			.socialNet {
				margin-bottom: 80px;
				.socialLink {
					padding: 0 10px 0 10px;
				}
			}
		}
		.avatar {
			width: 250px;
			height: 250px;
		}
	}
	.footer {
		p {
			font-size: 15px;
		}
	}
}
@media (min-width: 320px) and (max-width: 330px) {
	nav {
		padding: 12px;
		.navbar-brand {
			font-size: 18px;
			padding: 0 10px;
		}
		.navbar-toggler {
			background-color: $togglerMenu;
			border-radius: 0;
			span {
				font-size: 15px;
			}
		}
		.navbar-nav {
			.nav-item {
				margin: 20px 0;
				font-size: 17px;
				text-align: center;
				line-height: 10px;
			}
		}
	}
	.aboutinfo {
		display: inline-block;
		padding: 0;
		.aboutinfo-1 {
			display: flex;
			justify-content: center;
		}
		.aboutinfo-2 {
			text-align: center;
			width: 100%;
			h2 {
				font-size: 27px !important;
			}
			p {
				font-size: 15px !important;
				width: 100%;
				padding: 0 15px;
				margin: 15px 0 25px;
			}
			.buttons {
				.linkBtn {
					padding: 10px 10px;
					font-size: 15px;
					position: relative;
					margin: 0;
				}
			}
			.socialNet {
				margin-bottom: 80px;
				.socialLink {
					padding: 0 10px 0 10px;
				}
			}
		}
		.avatar {
			width: 250px;
			height: 250px;
		}
	}
	.footer {
		p {
			font-size: 15px;
		}
	}
}

// Portfolio responsive
@media (min-width: 320px) and (max-width: 330px) {
	.titles {
		h3 {
			font-size: 30px !important;
		}
		p {
			font-size: 20px !important;
		}
	}
	.row {
		.col-md-12 {
			.projectCard {
				display: inline-block;
				.portfolio-img {
					width: 100% !important;
				}
				.ProjectTitles {
					margin: 30px 0;
					.projectAbout {
						.projectName {
							font-size: 20px !important;
						}
						.projectDesc {
							font-size: 15px;
						}
					}
				}
			}
		}
	}
}
